*{
    cursor: none;
}
body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loading {
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading img {
    display: block;
    min-height: 209px;
    min-width: 200px;
}
.mouse {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #fff782;
    position: absolute;
    animation: mouseAnimation 0.5s
    infinite ease-in-out alternate;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes mouseAnimation {
    from {
        width: 25px;
        height: 25px;
    }
    to {
        width: 15px;
        height: 15px;
    }
}